*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --dark-blue: hsl(200, 15%, 8%);
    --dark-grey: hsl(0, 0%, 52%);
    --light-grey: hsl(0, 0%, 52%);
    --white: hsl(0, 0%, 100%);
    --white-element: hsl(0, 0%, 100%);

    --dark-mode-background: hsl(207, 26%, 17%);
    --dark-mode-text: hsl(0, 0%, 100%);
    --dark-mode-elements: hsl(209, 23%, 22%);


    --fs-medium: 0.8rem;
    --fs-regular: 1rem;
    --fs-semi-large: 1.1;
    --fs--large: 1.2rem;

    --fw-800: 800;
    --fw-600: 600;
    --fw-300: 300;

    --outline: 1px solid green;
    --clr-focus: 3px solid hsl(0 0% 0% / 1);
}

.dark_mode{
    --white: hsl(207, 26%, 17%);
    --dark-blue: hsl(0, 0%, 100%);
    --dark-grey: hsl(0, 0%, 100%);
    --white-element: var(--dark-mode-elements);
    --clr-focus: 3px solid hsl(0, 0%, 100%);;
    
}


body{
    background-color: var(--white);
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    font-size: var(--fs-regular);
    color: var(--dark-blue);
}

*:focus-visible{
    outline: var(--clr-focus);
}

/*svg:not(.sun){
    width: 1em;
}
*/
a{
    text-decoration: none;
}
img,svg{
    max-width: 100%;
}

li,ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2{
    font-weight: var(--fw-800);
}
h1,
h2,
p{
    color: var(--dark-blue);
}

p{
    font-weight: var(--fw-600);
}

button{
    color: var(--dark-blue);
    border: none;
    background-color:inherit;
    margin: 0;
    padding: 0;
}

.light_text{
    font-weight: var(--fw-300);
}

.container{
    width: 90%;
    max-width: 1530px;
    margin: 0 auto;
}

/*light dark mode toggle start*/
/* .sun_moon{

} */
.edges{
    animation: enlarge 1s ease;
    transform-origin: center;
}
.scale{
    transform: scale(0);
}

.shade{
   transform-origin: right;
   transition: transform 1s ease;
}

@keyframes enlarge{
    0%{
        transform: scale(0);
        /* opacity: 0; */
    }

    50%{
        transform: scale(1.1);
        /* opacity: 1; */
    }

    100%{
        transform: scale(1);
        /* opacity: 1; */
    }
}
/*light dark mode toggle end*/

/* nav start */
.toggle--dark--mode{
    color: var(--dark-blue);
    font-size: var(--fs-semi-large);
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    background-color: var(--white-element);
    height: 100%;
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.1);
}

.nav{
    min-height: 6em;
}

.dark_light svg{
    margin-right: 0.5rem;
    vertical-align: middle;
}
/* nav end */

/* filtering start */
.filterBy.flex{
    flex-direction: column; 
}

.form{
    background-color: var(--white-element);
    margin: 1.5rem 0 2.4rem 0;
    border-radius: 5px;
    width: 100%;
    max-width: 40rem;
}

.form input{
    background: url('Images/mganifying_glass.svg')no-repeat;
    background-size: 1.5em;
    background-position: 2em 2em;
    background-position-y: center;
    color: var(--dark-grey);
    font-size: var(--fs-large);
    width: 100%;
    max-width: 40rem;
    padding: 1.3em 0 1.3em 5.4em;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 15px hsla(0, 0%, 0%, 0.1);
}

/*.filterBy__region svg{
    margin-left: 3.7rem;
}*/
.filterBy__region{
    position: relative;
    align-self: flex-start;
}

.filter {
    background-color: var(--white-element);
    font-size: var(--fs-semi-large);
    color: var(--dark-blue);
    padding: 1.3em 1.7em;
    margin-bottom: 0.5rem;
    width: 16rem;
    border-radius: 5px;
    box-shadow: 2px 2px 15px hsla(0, 0%, 0%, 0.1);
}

.filter svg{
    vertical-align: middle;
    color: var(--dark-grey);
}

.filter:active{
    background-color: hsla(0, 0%, 87%, 0.1);
}
.countries_region button:active{
    position: relative;
    top: 1px;
}


.countries_region{
    /* width: 16rem; */
    position: absolute;
    z-index: 1;
    background-color: var(--white-element);
    border-radius: 5px;
    line-height: 2em;
    box-shadow: 2px 2px 15px hsla(0, 0%, 0%, 0.1);
}

.countries_region button{
    /* padding-bottom: 1rem;
    padding-inline-end: 170px;
    padding-inline-start: 1.7em; */
    padding: 1em 10.5em 1em 1.7em;

}
/* filtering end */


.grid{
    max-width: 80rem;
    /* gap: 1em; */
    column-gap: 1em;
    row-gap: 4em;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill , minmax(250px, 1fr));
    /* grid-template-rows: repeat(4, 1fr); */
} 


.countries{
    box-shadow: 2px 2px 15px hsla(0, 0%, 0%, 0.1);
    border-radius: 5px;
    background-color: var(--white-element);
    overflow: hidden;
}

.countries:focus-within{
    outline: var(--clr-focus);
}

.flag{
    object-fit: cover;
}

.padding{
    padding-inline: 1em;
}

@media(min-width: 600px){
    body{
        font-size: var(--fs-large);
    }

    button{
        font-size: var(--fs-large);
    }

    .filterBy.flex{
        flex-direction: row;
    }

    .filter{
        padding: 1.3em 1em;
        margin-top: 1.5rem;
    }
    
    .filter, .form input{
        /* width: 17rem; */
        font-size: var(--fs--large);
    }

    .form{
        align-self: flex-start;
    }

    .toggle--dark--mode{
        font-size: var(--fs--large);
    }

    .nextPage_grid{
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-areas: 'first ...... .....'
                             'first second .....'
                             'first second third'
                             'first second .....'
                             'first fourth fourth';
    }
    
    .selecting:nth-child(1){
        grid-area: first;
        
    }
    .selecting:nth-child(2){
        grid-area: second;
        
    }
    .selecting:nth-child(3){
        grid-area: third;
        
    }
    .selecting:nth-child(4){
        grid-area: fourth;
        
    }
}

@media(max-width: 1100px){
    .filterBy.flex{
        flex-direction: column;
    }
    .nextPage_grid{
       
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-areas: 'first '
                             'second'
                             'third '
                             'fourth'
                             ;
    }
}

/* next page */

.back_button{
    padding: 0.5em 2em;
    box-shadow: 2px 2px 15px hsla(0, 0%, 0%, 0.1);
    border-radius: 5px;
    
}

.flag_img_container{
    margin-top: 3rem;
}

.back_button_container{
    margin: 3rem 0 3rem 0;
}

.margin_bottom{
    margin-bottom: 3rem;
}

.button_padding{
    padding: 0.5em 2em;
    box-shadow: 2px 2px 15px hsla(0, 0%, 0%, 0.1);
}

.border_countries_container{
    padding-bottom: 6rem;
}

.border_countries_title{
    margin-bottom: 2rem;
}

.border_countries_content{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 5px;
}













